
// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "blueprint/form";
@import "blueprint/fancy-type";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";



$main_color: #003358; // #ccf;
$page_background_color: #f0f0f0;
$fieldset_background: lighten($page_background_color, 0%); //#220;

div.bp {
@include fancy-type;
width: 600px;
margin: 20px;
background-color: $page_background_color;
border: 1px solid $main_color;
padding: 50px;
text-align: left;
} 

.formfield {
margin-top: 10px;
}

fieldset {
background-color: $fieldset_background;
}

.commentField pre {
margin: 3px 0px;
}

.bp div {
clear: both;
}

#form_filling_div {
span {
display: block;
}
}

